@model IEnumerable<CMS.Models.PCMember>


@{
                /**/

                ViewBag.Title = "Index";
}

<h2>Index</h2>



<input type="button" value="My conferences" class="btn btn-primary" onclick="@("window.location.href='" + Url.Action("index","conferences") + "'");" />

<input type="button" value="My comitees" class="btn btn-primary" onclick="@("window.location.href='" + Url.Action("index","comitees") + "'");" />

<input type="button" value="My reviews" class="btn btn-primary" onclick="@("window.location.href='" + Url.Action("index","reviews") + "'");" />
